@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.active-scroll-spy {
  color: #e57d55 !important;
}

@media screen and (max-width: 768px) {
  .active-scroll-spy {
    background: hsl(var(--primary)) !important;
    color: white !important;
    border-radius: 8px;
  }
}

@layer components {
  .section-grid {
    @apply grid grid-cols-1 items-center gap-8  md:grid-cols-2;
  }
}

.sans {
  font-family: 'Poppins', sans-serif;
}
